In [16]:
import numpy as np                               # vectors and matrices
import pandas as pd                              # tables and data manipulations
import matplotlib.pyplot as plt                  # plots
import seaborn as sns                            # more plots
import re as re                                  # regex

In [17]:
cpu = pd.read_csv('./Datasets/cpu.csv', parse_dates = [0], index_col = 0)
cpu

                       Value %
Time
2018-10-02 14:00:00  22.618852
2018-10-02 14:05:00  22.885921
2018-10-02 14:10:00  22.668752
2018-10-02 14:15:00  21.676240
2018-10-02 14:20:00  21.774789
2018-10-02 14:25:00  21.505573
2018-10-02 14:30:00  21.900370
2018-10-02 14:35:00  22.543097
2018-10-02 14:40:00  18.929865
2018-10-02 14:45:00  13.689513
2018-10-02 14:50:00  13.513164
2018-10-02 14:55:00  13.665976
2018-10-02 15:00:00  13.483973
2018-10-02 15:05:00  13.248664
2018-10-02 15:10:00  14.085857
2018-10-02 15:15:00  13.511922
2018-10-02 15:20:00  14.917728
2018-10-02 15:25:00  13.351960
2018-10-02 15:30:00  13.526595
2018-10-02 15:35:00  13.787503
2018-10-02 15:40:00  14.002133
2018-10-02 15:45:00  13.211333
2018-10-02 15:50:00  13.392590
2018-10-02 15:55:00  13.446360
2018-10-02 16:00:00  13.449544
2018-10-02 16:05:00  13.809780
2018-10-02 16:10:00  13.637396
2018-10-02 16:15:00  13.548994
2018-10-02 16:20:00  13.440517
2018-10-02 16:25:00  13.344517
...                        ...
2018-11-01 10:35:00  31.525033
2018-11-01 10:40:00  30.969206
2018-11-01 10:45:00  31.505830
2018-11-01 10:50:00  31.353223
2018-11-01 10:55:00  31.184128
2018-11-01 11:00:00  31.345986
2018-11-01 11:05:00  32.169883
2018-11-01 11:10:00  32.694437
2018-11-01 11:15:00  31.312531
2018-11-01 11:20:00  30.788160
2018-11-01 11:25:00  30.941016
2018-11-01 11:30:00  31.165573
2018-11-01 11:35:00  32.950915
2018-11-01 11:40:00  30.720073
2018-11-01 11:45:00  30.406674
2018-11-01 11:50:00  31.224132
2018-11-01 11:55:00  31.643133
2018-11-01 12:00:00  30.393653
2018-11-01 12:05:00  34.389789
2018-11-01 12:10:00  31.186073
2018-11-01 12:15:00  31.240611
2018-11-01 12:20:00  30.324317
2018-11-01 12:25:00  31.382865
2018-11-01 12:30:00  31.000147
2018-11-01 12:35:00  30.434242
2018-11-01 12:40:00  32.082870
2018-11-01 12:45:00  31.748982
2018-11-01 12:50:00  30.823239
2018-11-01 12:55:00  31.549608
2018-11-01 13:00:00  31.163234

[8629 rows x 1 columns]

In [18]:
load = pd.read_csv('./Datasets/load.csv', parse_dates = [0], index_col = 0)
load

                       Load %
Time
2018-10-02 14:00:00  3.845667
2018-10-02 14:05:00  3.667667
2018-10-02 14:10:00  3.473000
2018-10-02 14:15:00  3.535333
2018-10-02 14:20:00  4.067667
2018-10-02 14:25:00  3.406333
2018-10-02 14:30:00  3.429000
2018-10-02 14:35:00  3.675667
2018-10-02 14:40:00  3.400667
2018-10-02 14:45:00  2.424333
2018-10-02 14:50:00  2.476000
2018-10-02 14:55:00  2.629667
2018-10-02 15:05:00  2.203333
2018-10-02 15:10:00  2.486667
2018-10-02 15:15:00  2.641667
2018-10-02 15:20:00  2.439667
2018-10-02 15:25:00  2.221333
2018-10-02 15:30:00  2.246000
2018-10-02 15:35:00  2.266000
2018-10-02 15:40:00  2.214333
2018-10-02 15:45:00  1.845000
2018-10-02 15:50:00  2.150333
2018-10-02 15:55:00  1.829667
2018-10-02 16:00:00  1.650333
2018-10-02 16:05:00  1.970667
2018-10-02 16:10:00  2.052333
2018-10-02 16:15:00  2.176333
2018-10-02 16:20:00  2.004000
2018-10-02 16:25:00  1.697333
2018-10-02 16:30:00  1.892000
...                       ...
2018-11-01 10:35:00  6.765000
2018-11-01 10:40:00  6.205667
2018-11-01 10:45:00  6.528667
2018-11-01 10:50:00  6.703000
2018-11-01 10:55:00  6.438667
2018-11-01 11:00:00  6.203333
2018-11-01 11:05:00  6.119667
2018-11-01 11:10:00  6.047667
2018-11-01 11:15:00  4.857000
2018-11-01 11:20:00  5.193333
2018-11-01 11:25:00  4.781667
2018-11-01 11:30:00  5.145333
2018-11-01 11:35:00  5.602333
2018-11-01 11:40:00  5.162000
2018-11-01 11:45:00  5.241667
2018-11-01 11:50:00  5.145333
2018-11-01 11:55:00  5.237333
2018-11-01 12:00:00  5.028000
2018-11-01 12:05:00  5.837333
2018-11-01 12:10:00  5.195000
2018-11-01 12:15:00  5.026667
2018-11-01 12:20:00  4.936333
2018-11-01 12:25:00  5.096333
2018-11-01 12:30:00  4.897667
2018-11-01 12:35:00  4.868333
2018-11-01 12:40:00  5.318000
2018-11-01 12:45:00  5.205000
2018-11-01 12:50:00  5.474333
2018-11-01 12:55:00  5.037333
2018-11-01 13:00:00  6.363333

[8616 rows x 1 columns]

In [19]:
memory = pd.read_csv('./Datasets/memory_usage.csv', parse_dates = [0], index_col = 0)
memory

                     Value bytes
Time
2018-10-02 14:00:00   9395879526
2018-10-02 14:05:00   9218781184
2018-10-02 14:10:00   9192065980
2018-10-02 14:15:00   9238642142
2018-10-02 14:20:00   9646990814
2018-10-02 14:25:00   9503521860
2018-10-02 14:30:00   9316591070
2018-10-02 14:35:00   9245869534
2018-10-02 14:40:00   9186803166
2018-10-02 14:45:00   7120663484
2018-10-02 14:50:00   4945755477
2018-10-02 14:55:00   4790179567
2018-10-02 15:00:00   5048004881
2018-10-02 15:05:00   4679958391
2018-10-02 15:10:00   4718958046
2018-10-02 15:15:00   4700407125
2018-10-02 15:20:00   4865912969
2018-10-02 15:25:00   4857219755
2018-10-02 15:30:00   4776247159
2018-10-02 15:35:00   4915138560
2018-10-02 15:40:00   4875553997
2018-10-02 15:45:00   4808602419
2018-10-02 15:50:00   4614648354
2018-10-02 15:55:00   4712120866
2018-10-02 16:00:00   4682788318
2018-10-02 16:05:00   4691966498
2018-10-02 16:10:00   4785234603
2018-10-02 16:15:00   4690164395
2018-10-02 16:20:00   4763170679
2018-10-02 16:25:00   4729665399
...                          ...
2018-11-01 10:35:00  12949097131
2018-11-01 10:40:00  13371846793
2018-11-01 10:45:00  13257863714
2018-11-01 10:50:00  12591875004
2018-11-01 10:55:00  12804364561
2018-11-01 11:00:00  12843178940
2018-11-01 11:05:00  12449920341
2018-11-01 11:10:00  12289757457
2018-11-01 11:15:00  12852107810
2018-11-01 11:20:00  13100345207
2018-11-01 11:25:00  12445934114
2018-11-01 11:30:00  11910258551
2018-11-01 11:35:00  11945623962
2018-11-01 11:40:00  11986313353
2018-11-01 11:45:00  11805259503
2018-11-01 11:50:00  11728689835
2018-11-01 11:55:00  12607237325
2018-11-01 12:00:00  12631296546
2018-11-01 12:05:00  12034964958
2018-11-01 12:10:00  12208319556
2018-11-01 12:15:00  12119944533
2018-11-01 12:20:00  11725206869
2018-11-01 12:25:00  11743149261
2018-11-01 12:30:00  11869313434
2018-11-01 12:35:00  11930676292
2018-11-01 12:40:00  12050618231
2018-11-01 12:45:00  11891392649
2018-11-01 12:50:00  12275708041
2018-11-01 12:55:00  12132723371
2018-11-01 13:00:00  12610550443

[8629 rows x 1 columns]

In [20]:
concatanated = cpu.join(load, how='outer').join(memory, how='outer')
concatanated

                       Value %    Load %  Value bytes
Time
2018-10-02 14:00:00  22.618852  3.845667   9395879526
2018-10-02 14:05:00  22.885921  3.667667   9218781184
2018-10-02 14:10:00  22.668752  3.473000   9192065980
2018-10-02 14:15:00  21.676240  3.535333   9238642142
2018-10-02 14:20:00  21.774789  4.067667   9646990814
2018-10-02 14:25:00  21.505573  3.406333   9503521860
2018-10-02 14:30:00  21.900370  3.429000   9316591070
2018-10-02 14:35:00  22.543097  3.675667   9245869534
2018-10-02 14:40:00  18.929865  3.400667   9186803166
2018-10-02 14:45:00  13.689513  2.424333   7120663484
2018-10-02 14:50:00  13.513164  2.476000   4945755477
2018-10-02 14:55:00  13.665976  2.629667   4790179567
2018-10-02 15:00:00  13.483973       NaN   5048004881
2018-10-02 15:05:00  13.248664  2.203333   4679958391
2018-10-02 15:10:00  14.085857  2.486667   4718958046
2018-10-02 15:15:00  13.511922  2.641667   4700407125
2018-10-02 15:20:00  14.917728  2.439667   4865912969
2018-10-02 15:25:00  13.351960  2.221333   4857219755
2018-10-02 15:30:00  13.526595  2.246000   4776247159
2018-10-02 15:35:00  13.787503  2.266000   4915138560
2018-10-02 15:40:00  14.002133  2.214333   4875553997
2018-10-02 15:45:00  13.211333  1.845000   4808602419
2018-10-02 15:50:00  13.392590  2.150333   4614648354
2018-10-02 15:55:00  13.446360  1.829667   4712120866
2018-10-02 16:00:00  13.449544  1.650333   4682788318
2018-10-02 16:05:00  13.809780  1.970667   4691966498
2018-10-02 16:10:00  13.637396  2.052333   4785234603
2018-10-02 16:15:00  13.548994  2.176333   4690164395
2018-10-02 16:20:00  13.440517  2.004000   4763170679
2018-10-02 16:25:00  13.344517  1.697333   4729665399
...                        ...       ...          ...
2018-11-01 10:35:00  31.525033  6.765000  12949097131
2018-11-01 10:40:00  30.969206  6.205667  13371846793
2018-11-01 10:45:00  31.505830  6.528667  13257863714
2018-11-01 10:50:00  31.353223  6.703000  12591875004
2018-11-01 10:55:00  31.184128  6.438667  12804364561
2018-11-01 11:00:00  31.345986  6.203333  12843178940
2018-11-01 11:05:00  32.169883  6.119667  12449920341
2018-11-01 11:10:00  32.694437  6.047667  12289757457
2018-11-01 11:15:00  31.312531  4.857000  12852107810
2018-11-01 11:20:00  30.788160  5.193333  13100345207
2018-11-01 11:25:00  30.941016  4.781667  12445934114
2018-11-01 11:30:00  31.165573  5.145333  11910258551
2018-11-01 11:35:00  32.950915  5.602333  11945623962
2018-11-01 11:40:00  30.720073  5.162000  11986313353
2018-11-01 11:45:00  30.406674  5.241667  11805259503
2018-11-01 11:50:00  31.224132  5.145333  11728689835
2018-11-01 11:55:00  31.643133  5.237333  12607237325
2018-11-01 12:00:00  30.393653  5.028000  12631296546
2018-11-01 12:05:00  34.389789  5.837333  12034964958
2018-11-01 12:10:00  31.186073  5.195000  12208319556
2018-11-01 12:15:00  31.240611  5.026667  12119944533
2018-11-01 12:20:00  30.324317  4.936333  11725206869
2018-11-01 12:25:00  31.382865  5.096333  11743149261
2018-11-01 12:30:00  31.000147  4.897667  11869313434
2018-11-01 12:35:00  30.434242  4.868333  11930676292
2018-11-01 12:40:00  32.082870  5.318000  12050618231
2018-11-01 12:45:00  31.748982  5.205000  11891392649
2018-11-01 12:50:00  30.823239  5.474333  12275708041
2018-11-01 12:55:00  31.549608  5.037333  12132723371
2018-11-01 13:00:00  31.163234  6.363333  12610550443

[8629 rows x 3 columns]

In [21]:
concatanated.to_csv('./Datasets/concatanated.csv')

In [26]:
import sqlite3 as lite
import sys

import base64
import hashlib
# from Crypto import Random
# from Crypto.Cipher import AES
import csv, os
from glob import glob
from xlsxwriter.workbook import Workbook

In [29]:
filename = "clear" 
con=lite.connect(filename+".db")
wb=pd.read_excel('./' + filename +'.xlsx',sheetname=None)
for sheet in wb:
    wb[sheet].to_sql(sheet,con, index=False)
con.commit()
con.close()

C:\Users\vladn\Anaconda3\lib\site-packages\pandas\io\excel.py:329: FutureWarning: The `sheetname` keyword is deprecated, use `sheet_name` instead
  **kwds)
C:\Users\vladn\Anaconda3\lib\site-packages\pandas\core\generic.py:2127: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  dtype=dtype)

ValueError: Table 'concatanated' already exists.

In [30]:
log = open("./Datasets/fault_public.log")